
.card-container{
    width: 680px;
    height: 260px;
    display: flex;
}
.card-container-img {
    width: 266px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.card-container-description{
    width: 400px;
}
.card-container-description h1{
    font-size: 2rem;
    font-weight: 700;
}
.description-text{
    font-size: 1.2rem;
    line-height: 18px;
    margin-bottom: 40px;

}
.description-info-profile img{
    width: 36px;
}
.description-info-profile{
    font-size: 1.1rem;
}
.cont__icono{
    width: 30px;
    height: 30px;
}
/*JS*/
.desktop-active{
    background-color: var(--VeryDarkGrayishBlue);
}
.js-menu-button{
    width: 13px;
    height: 13px;
}
.modal-container{
    width: 28%;
    height: 40px;
    top: 50%;
    right: -30px;
    border-radius: 8px;
    padding: 12px 30px;
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.6);
}
.modal-container-title h4{
    font-size: 1rem;
}
.modal-container-icons{
    margin-left: 10px;
}
.modal-container .model-icon{
    display: none;
}
.modal-container-icons ul{
    width: 70px;
    padding: 0;
}
.modal-container-icons ul li img{
    width: 16px;
}
.triangle-form{
    position: absolute;
    width: 0; 
    height: 0;  
    bottom: 30%;
    right: 50px;
    border-left: 12px solid transparent ;
    border-right: 12px solid transparent;
    border-top: 13px solid var(--VeryDarkGrayishBlue);
}